*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'SF Pro Display';
  font-weight: 300;
  box-sizing: border-box;
  transition: all 0.3s;
  letter-spacing: 0.5px;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url(https://bayanbox.ir/download/6918506764327559316/SF-Pro-Display-Light.otf);
}